<form>
  

  
  <div class="form-group">
    <label for="area">Area</label>
    <input type="text" class="form-control" [ngModel]="carea" value="{{(ctemplate | async)?.Area}}" #namee>
  </div>
  <div class="form-group">
    <label for="job">Job Type</label>
    <input type="text" class="form-control" [(ngModel)]="cJob" value="{{(ctemplate | async)?.Job_Type}}" #job>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" [(ngModel)]="ccategory" value="{{(ctemplate | async)?.Category}}" #numm>
  </div>
  <div class="form-group">
    <label for="item">Item</label>
    <input type="text" class="form-control" [(ngModel)]="citem" value="{{(ctemplate | async)?.Item}}" #item>
  </div> 
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" [ngModel]="cquantity" value="{{(ctemplate | async)?.Quantity}}" #quantity>
  </div> 
  <div class="form-group">
    <label for="quantity">Description</label><br>
    <textarea rows="3" cols="50" class="form-control" [ngModel]="cdescription" value="{{(ctemplate | async)?.Description}}" #description></textarea>
  </div> 

    
  <div class="form-group" align="right">
  <button type="button" class="btn btn-primary btn-raised"(click)="changeShowStatus()">Ballpark</button>
  </div>	
  
  <div class="form-group" align="right" *ngIf="!showBallpark">
  <p>Total: $<input type="number" style="width: 50px" class="form-control" value="{{(ctemplate | async)?.Low}}"> - $<input type="number" style="width: 50px" class="form-control" value="{{(ctemplate | async)?.High}}"></p>
  </div>
  
  
  
  <div class="button-wrapper">
  <button type="button" (click)="updatename(namee.value);updatecost(cost.value);updatejob(job.value);updatenum(numm.value);updatedate(datee.value)" class="btn btn-success">Submit</button>

  </div>
</form>