<form>
  <div class="form-group">
    <label for="input91">Client Name</label>
    <input type="text" class="form-control" [ngModel]="clientName" placeholder="Name" #namee>
  </div>
  <div class="form-group">
    <label for="input92">Phone Number</label>
    <input type="text" class="form-control" [(ngModel)]="clientPhoneNumber" placeholder="Phone Number" #numm>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Job Type</label>
	<select class="form-control" [ngModel]="jobType" id="exampleSelect1" #job>
	  <option>Carpentry</option>
	  <option>Plumbing</option>
	  <option>Mechanic</option>
	  <option>Electrician</option>
	</select>
  </div>
  <div class="form-group">
    <label for="input93">Date</label>
    <input type="text" class="form-control" [(ngModel)]="estimateDate" placeholder="Date" #datee>
  </div> 
  <div class="form-group">
    <label for="input94">Estimate Cost</label>
    <input type="number" class="form-control" [ngModel]="estimatePrice" placeholder="Cost" #cost>
  </div> 
  
    
  <div class="form-group" align="right">
  <button type="button" class="btn btn-primary btn-raised"(click)="changeShowStatus()">Ballpark</button>
  </div>	
  
  <div class="form-group" align="right" *ngIf="!showBallpark">
  <p>+/-
  <input type="number" style="width: 60px" class="form-control" [ngModel]="ballpark" placeholder="0.0" #ballz></p>
  <p>Total: {{ (this.estimatePrice - (this.ballpark * this.estimatePrice))}} - {{ (this.estimatePrice)}}</p>
  </div>

  
  
  <div class="button-wrapper">
  <button type="button" (click)="updatename(namee.value);updatecost(cost.value);updatejob(job.value);updatenum(numm.value);updatedate(datee.value); sendDone()" class="btn btn-success">Submit</button>
  </div>
    
</form>
