 
<form>
  
  <ba-card cardTitle="tree_view.title">
  
  <div class="form-group">
    <label for="input91">Client Name</label>
    <input type="text" class="form-control" [ngModel]="clientName" value="{{(cname | async)?.Name}}" #namee>
  </div>
  <div class="form-group">
    <label for="input92">Phone Number</label>
    <input type="text" class="form-control" [(ngModel)]="clientPhoneNumber" value="{{(cname | async)?.Phone}}" #numm>
  </div>
  <div class="form-group">
    <label for="input96">Job Type</label>
    <input type="text" class="form-control" [(ngModel)]="clientJob" value="{{(cname | async)?.Job}}" #numm>
  </div>
  <div class="form-group">
    <label for="input93">Date</label>
    <input type="text" class="form-control" [(ngModel)]="estimateDate" value="{{(cname | async)?.Date}}" #datee>
  </div> 
  <div class="form-group">
    <label for="input94">Estimate Cost</label>
    <input type="number" class="form-control" [ngModel]="estimatePrice" value="{{(cname | async)?.Cost}}" #cost>
  </div> 
  
    

  
  
  

  
 
  
  
  <div class="button-wrapper">
  <button type="button" (click)="updatename(namee.value);updatecost(cost.value);updatejob(job.value);updatenum(numm.value);updatedate(datee.value); sendDone()" class="btn btn-success">Submit</button>

  </div>
  
  </ba-card>
</form>