<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card cardTitle="New Estimate" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>
	  

      

    <!--	  <ba-card cardTitle="Selects" baCardClass="with-scroll">
        <select-inputs></select-inputs>
      </ba-card>
    </div>

    <div class="col-md-6">
      <ba-card cardTitle="Validation States" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card cardTitle="Checkboxes & Radios" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>

      <ba-card cardTitle="Rating" baCardClass="with-scroll">
        <rating-inputs></rating-inputs>
      </ba-card> -->
    </div>
	<div class="col-md-6">
	  <ba-card cardTitle="Template" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </ba-card>
	</div>
	
  </div>

</div>
